<?xml version="1.0" encoding="utf-8"?>
<e107Plugin name="Visual Captcha" lan="" version="1.0" date="2016-12-25" compatibility="2.0" installRequired="true" >
	<author name="CaMer0n &amp; Lona Lore" url="https://e107.org" />
	<summary lan="">Visual Captcha for e107. </summary>
	<description lan="">A drop-in replacement for the e107 captcha, making your site more use-friendly and secure.</description>
	<keywords>
		<word>security</word>
		<word>captcha</word>
		<word>recaptcha</word>
	</keywords>
	<category>misc</category>
	<screenshots>
		<image>screenshot-1.png</image>
		<image>screenshot-2.png</image>
		<image>screenshot-3.png</image>
		<image>screenshot-4.png</image>
		<image>screenshot-5.png</image>
	</screenshots>
	<copyright></copyright>
	<adminLinks>
		<link url="admin_config.php" description="" icon="images/_icon_32.png" iconSmall="images/_icon_16.png" icon128="images/_icon_128.png" primary="true" >LAN_CONFIGURE</link>
	</adminLinks>
	<pluginPrefs>
		<pref name='active'>1</pref>
		<pref name='imgCount'>5</pref>
	</pluginPrefs>
</e107Plugin>